:root {
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
}

body  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(215, 88, 9);
    color: whitesmoke;
}

.header {
    margin: 0;
    margin-bottom: 2%;
    letter-spacing: 5px;
    cursor: default;
    font-size: 132px;
    font-weight: 500;
}

.header:hover {
    text-decoration: underline 4px solid whitesmoke;
}

#timer {
    margin: 0;
    letter-spacing: 12px;
    font-size: 132px;
    cursor: default;
    font-weight: 500;
}